.formulary__content {
  padding: .5rem;
  margin-bottom: .5rem;
  border: 1px solid gray;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #518cef;
  p {
    margin-top: 1rem;
    font-size: .75rem;
  }
  .formulary__content-form {
    padding: 1rem;
    width: 55%;
    .formulary__content-form-inputs {
      display: flex;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      input{
        border: none;
        border-radius: 3px;
        width: 30%;
        height: 25px;
        padding: 0 5px;
        font-size: .5rem;
      }
    }
    .formulary__content-form-button {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      button{
        width: 40%;
        height: 18px;
        border-radius: 3px;
        border: none;
        background-color: crimson;
        padding: 5px;
        font-size: .7rem;
        color: white;
      }
    }
  }
}

