.infocountries__content{
  background-color: #518cef;
  margin-top: 20px;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  h5 {
    margin-bottom: 20px; 
  }
  .card__country {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(245, 237, 237);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  } 
  img {
    margin-bottom: 15px;
    width: 160px;
    height: 100px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  }
  h4 {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
  }
  
  .card__country-information {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    table {
      margin-top: 20px;
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
      thead {
        tr {
          height: 35px;
          background-color: #518CEF;
          color: black;
          text-align: left;
          th {
            font-size: .9rem;
            padding-left: 15px;
            width: 30%;
            color: white;
          }
          td {
            font-size: .8rem;
            width: 70%;
            background-color: violet;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .card__country-button {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    align-items:flex-end;
    justify-content: flex-end;
    button {
      height: 30px;
      width: 100px;
      text-align: center;
      border: none;
      background-color: #518CEF;
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }
  }
}