.footer__content {
  padding: 1.25rem;
  font-size: .75rem;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}