.gridnumber__content {
  margin-top: 20px;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #518cef;
  h5 {
    margin-bottom: 20px;
  } 
  .gridnumber__content-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    .par {
      background-color: green;
      width: 84px;
      height: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      border: 1px solid white;
    }
    .impar {
      background-color: rgb(168, 177, 47);
      width: 84px;
      height: 81px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      border: 1px solid white;
    }
  }
}
